@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b1020;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

/* simple prose defaults */
.prose h1, .prose h2, .prose h3 { @apply font-semibold; }
